<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Test Suite" parallel="tests" thread-count="3">

    <test name="Login Test">
        <classes>
            <class name="Tests.LoginTest"/>
        </classes>
    </test>

    <test name="Search Bar Test">
        <classes>
            <class name="Tests.SearchBarTest"/>
        </classes>
    </test>

    <test name="Remove Item From Shopping Cart">
        <classes>
            <class name="Tests.RemoveItemFromCartTest"/>
        </classes>
    </test>

</suite>