<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Test Suite" parallel="classes" thread-count="3">

    <test name="PC Chrome">
        <parameter name="headless" value="true"/>
        <packages>
            <package name="Tests.Desktop.*"/>
        </packages>
    </test>

    <test name="Mobile Chrome">
        <parameter name="headless" value="true"/>
        <packages>
            <package name="Tests.Mobile.*"/>
        </packages>
    </test>

</suite>